/* 아래에 CSS를 작성해주세요. */

* {
  box-sizing: border-box;
  justify-content: center;
}
.title {
  text-align: center;
  align-items: center;
}
.subtext{
  display: block;
  font-size: 15px; 
}

.item-list {
  display: flex;
}
.item {
  margin: 5px;
}
.item-img {
  width: 400px;
  border-radius: 5%;
}
